{
	"env": {
			"browser": false,
			"es2022": true
	},
	"extends": "airbnb-base",
	"parserOptions": {
			"ecmaVersion": "latest"
	},
	"globals": {
			"process": true,
			"describe": true,
			"test": true,
			"expect": true,
			"beforeAll": true,
			"afterAll": true
	},
	"rules": {
			"import/extensions": "off",
			"max-len": ["error", { "code": 120 }],
			"indent": ["error", "tab"],
			"no-tabs":"off"
	}
}
